/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.header {
  text-align: center;
    padding: 20px;
    opacity: .8;
}

.container {
  max-width: 800px;
  width: 100%;
  padding: 20px;
  box-sizing: border-box;
}

.responsiveParagraph {
  text-align: left;
  margin: 0;
  padding: 10px;
}

@media (min-width: 601px) {
  .responsiveParagraph {
      max-width: 600px; /* Adjust the maximum width as needed */
      margin-left: auto;
      margin-right: 15%;
  }
}

/* Media query for smaller screens */
@media (max-width: 600px) {
  .responsiveParagraph {
      width: 100%;
      box-sizing: border-box;
  }
}

.background {
  background: linear-gradient(45deg, #6BB9DB, #AA55FF);
}



.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}

