/* Banner.css */
.banner {
    position: relative;
    left: 40%;
    width: fit-content;
    transform: translate(-40%, -100%) rotate(40deg);
    background-color: rgba(98, 199, 201, 0.416);
    color: black;
    padding: 10px 20px;
    font-size: 45px;
    font-weight: bold;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    border-radius: 15px;
  }
  